<!-- Progress bar -->
<div class="row justify-content-md-center">
    <div class="col-12 mx-auto">
        <div class="container-fluid">
            <br /><br />
            <ul class="list-unstyled multi-steps">
                <li>Personal Data</li>
                <li>Record Video</li>
                <li class="is-active">Validate</li>
                <li>Finish</li>
            </ul>
        </div>
    </div>
</div>

<!-- Buttons for steps -->
<div class="row justify-content-md-center">
    <div class="col-3 mx-auto my-auto">
        <button type="button" class="btn btn-primary" (click)="goToPrevStep()">Previous</button>
    </div>
    <div class="col-0.5 mx-auto my-auto">
        <button type="button" class="btn btn-primary" (click)="goToNextStep()">Submit</button>
    </div>
</div>

<div class="container">

    <div class="row justify-content-md-center">
        <h4>Validate the Information</h4>
    </div>

    <div class="row justify-content-md-center">
        <h6>This is the data you will submit to PRAXIS, please review it.</h6>
    </div>

    <div class="row">

        <div class="col-md-4 padding-0 mt-5">
            <div class="main-login main-center">
                <h5> Personal Data</h5>
                <form class="" method="post" action="#">

                    <div class="row">
                        <label class="control-label bold-label">Name: </label>
                        <p class="pl-1">{{ this.student.name }}</p>
                    </div>

                    <div class="row">
                        <label class="control-label bold-label">Document: </label>
                        <p class="pl-1">{{ this.student.documentType }} {{ this.student.documentNumber }}</p>
                    </div>

                    <div class="row">
                        <label class="control-label bold-label">Birthdate: </label>
                        <p class="pl-1">{{ this.student.birthdate }}</p>
                    </div>

                    <div class="row">
                        <label class="control-label bold-label">Email address: </label>
                        <p class="pl-1">{{ this.student.email }}</p>
                    </div>

                    <div class="row">
                        <label class="control-label bold-label">Praxis Type: </label>
                        <p class="pl-1">{{ this.student.typeOfPraxis }}</p>
                    </div>

                    <div class="row">
                        <label class="control-label bold-label">University: </label>
                        <p class="pl-1">{{ this.student.university }}</p>
                    </div>

                    <div class="row">
                        <label class="control-label bold-label">Description: </label>
                        <p class="pl-1">{{ this.student.biography }}</p>
                    </div>

                </form>
            </div>
        </div>

        <div class="col-md-8 mx-auto recordvideo padding-0">
            <h4>Introduction video</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <video id="video" #video [src]=getSantizeUrl(this.helperService.urlVideoToShow)></video>
            </div>

            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{this.helperService.percentageLoading}}">
                  {{this.helperService.percentageLoading}} Uploading video.
                </div>
            </div>
        </div>
    </div>
</div>
